:root {
    --height-section: 900px;
    --height-banner: 667px;
    --height-nav: 80px;
}
/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON and Utility*/
html {
    font-family: "Whitney", sans-serif;
    font-size: 100%;
}
.clearfix:after{
    clear: both;
    content: "";
    display: table;
}
.container{
    width: 99%;
    max-width: 1300px;
    margin: 0 auto;

    height: 100%;
}
img{
	width: 100%;
}
a{
	text-decoration: none;
}
.col{
	float: left;
}
/* .relative{
    position: relative;
}
.center-abs{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%); 
} */
.center-margin{
    width: 80%;
    height: 60%;
    margin: 0 auto;
    padding-top: 10%;
    /* vertical-align: middle; */
    text-align: center;
    /* line-height: 667px; */
}
/* Buttons */
[class$="btn"]{
    border-radius: 30px;
    /* display: inline-block; */
}
[class$="btn"]:hover{
    box-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}
.small-btn{
    padding: 0.4rem 0.7rem;
    font-size: 0.8rem;
}
.big-btn{
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
}
.white-btn{
    background-color: white;
    color: #23272A;
}
.black-btn{
    background-color: #23272A;
    color: white;
}
.white-btn:hover{
    color: #3161E0;
}



/* HEADER  */
header{
    background-color: #3161E0;
}
    /* NAV  */
nav{
    height: var(--height-nav);
    color: white;
}
nav ul{
    width: 70%;
    text-align: center;
    
}
nav li{
    text-decoration: none;
    font-size: 0.9rem;
    margin-left: 4%;
}
nav a {
    color:inherit;
    
    font-weight: 600;
    /*  */

}
nav li a:hover{
    text-decoration: underline;
}
nav img{
    height: 34px;
    width: auto;
    vertical-align: middle;

}
nav > div, nav li{
    display: inline-block;
    vertical-align: middle;
}
nav div:first-child{
    width: 15%;
}
nav div:last-child{
    width: 15%;
    text-align: right;
}
nav .col{
    
    line-height: var(--height-nav);
}
/* Fine Header  */
/* JumboBanner */
.jumb{
    height: var(--height-banner);
    width: 100%;
    background-image: url("../img/jumbo.png");
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	
	
	color:white;
}
h2{
    font-size: 4.5rem;
    padding-bottom: 3rem;
}
.jumb p{
    font-size: 1.6rem;
    line-height: 2rem;
}
.jumb .buttons{
    padding-top: 3rem;
}
.jumb .buttons a:first-child{
    margin-right: 2rem;
}