:root {
    --height-nav: 80px;
}
/* RESET */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* COMMON and Utility*/
html {
    font-family: "Whitney", sans-serif;
    font-size: 100%;
}
.clearfix:after{
    clear: both;
    content: "";
    display: table;
}
.container{
    width: 99%;
    max-width: 1280px;
    margin: 0 auto;

    height: 100%;
}

img{
	width: 100%;
}
a{
	text-decoration: none;
}
.col{
	float: left;
}
.col-rigth{
	float: right;
}
.v-aling-m{
    display: inline-block;
    vertical-align: middle;
}
.center-margin{
    width: 80%;
    height: 60%;
    margin: 0 auto;
    
    /* vertical-align: middle; */
    text-align: center;
    /* line-height: 667px; */
}
/* Buttons */
[class$="btn"]{
    border-radius: 30px;
    /* display: inline-block; */
}
[class$="btn"]:hover{
    box-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}
.small-btn{
    padding: 0.4rem 0.7rem;
    font-size: 0.8rem;
}
.big-btn{
    padding: 1.2rem 1.4rem;
    font-size: 1.6rem;
}
.white-btn{
    background-color: white;
    color: #23272A;
}
.black-btn{
    background-color: #23272A;
    color: white;
}
.blue-btn{
    background-color: #5191FF;
    color: white;

}
.white-btn:hover{
    color: #3161E0;
}
.blue-btn:hover{
    background-color: #7FBFFF ;
}
.black-btn:hover{
    background-color: #2A2E32 ;
}



/* HEADER  */
header{
    background-color: #3161E0;
}
    /* NAV  */
nav{
    height: var(--height-nav);
    color: white;
}
nav ul{
    width: 70%;
    text-align: center;
    
}
nav li{
    list-style-type: none;
    font-size: 0.9rem;
    margin-left: 4%;
}
nav a {
    color:inherit;
    
    font-weight: 600;
    /*  */

}
nav li a:hover{
    text-decoration: underline;
}
nav img{
    height: 34px;
    width: auto;
    vertical-align: middle;

}
nav > div, nav li{
    display: inline-block;
    vertical-align: middle;
}
nav div:first-child{
    width: 15%;
}
nav div:last-child{
    width: 15%;
    text-align: right;
}
nav .col{
    
    line-height: var(--height-nav);
}
/* Fine Header  */
/* JumboBanner */
.jumb{
    /* height: var(--height-banner); */
    width: 100%;
    background-image: url("../img/jumbo.png");
    background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	padding-top: 100px;
    padding-bottom: 200px;
	
	color:white;
}
h2{
    font-size: 4.5rem;
    padding-bottom: 3rem;
}
.jumb p{
    font-size: 1.6rem;
    line-height: 2rem;
}
.jumb .buttons{
    padding-top: 3rem;
}
.jumb .buttons a:first-child{
    margin-right: 2rem;
}
/* MAIN  */
/* gli section pari sono grigio chiaro */
section{
    padding-bottom: 80px;
    width: 100%;
    padding-top: 80px;

}
/* main section:nth-child(even) {< */
main .evens{
    background: #f6f6f6;
}
section .block-img{
    /* background-image: url("../img/stars.svg"); */
    width: 67%;
    max-width: 800px;
    max-height: 90%;
    vertical-align: middle;
}
.block-img img{
    text-align: left;
}
section .block-paragraf{
    display: inline-block;
    vertical-align: middle;
    width: 33%;
}
section h3, section p{
    text-align: left;
}
h3{
    font-size: 3.5rem;
    padding-bottom: 1em;
}
section p{
    font-size: 1.5rem;
    line-height: 2rem;
}
/* Ultima section diversa dalle altre */
main section:last-child .block-paragraf p,main section:last-child .block-paragraf h3, h4{
    text-align: center;
    display: block;

}
main section:last-child .block-paragraf{
    display: block;
    /* vertical-align: middle; */
    width: 100%;
}
main section:last-child .block-img{
    display: block;
    /* vertical-align: middle; */
    width: 100%;
    max-width: none;
}

h4{
    background-image: url("../img/stars.svg");
    background-repeat: no-repeat;
    font-size: 2rem;
    width: 700px;
    margin: 0 auto;
    padding-bottom: 2.5rem;
}
main section:last-child .big-btn{
    display: block;
    width: max-content;
    margin: 0 auto;
    text-align: center;

    
}
/* Footer */

footer{
    background-color: #232323;
    padding-top: 5rem;
    color: white;
}
#footer-one img{
    height: 1em;
    width: auto;
    vertical-align: middle;
}
h5{
    color: #4171F6;
    font-size: 1.7rem;
    line-height: 2rem;
    padding-bottom: 1rem;
    padding-right: 2rem;
    
}
h6{
    text-align: left;
    color: #4171F6;
    font-size: 1.3rem;
    line-height: 1.8rem;
    padding-bottom: 0.8rem;

}
#footer-one a{
    color: inherit;
    display: inline-block;
    margin-top: 1rem;
    margin-right: 0.8rem;
}

footer .col{

    width: 17%;
    padding-left: 3%;

}
footer .col:first-child{

    /* width: calc(33%-5em); */
    width: 32%;
    padding-right: 8%;
    padding-left: 0;
    
}
footer li{
    list-style-type: none;
    font-weight: 600;
}
/* Footer two */
#footer-two{
    padding: 3rem 0;
}
#footer-two img{
    height: 100%;
    width: auto;
}
#footer-two .blue-btn{
    font-weight: 600;
}
/* Wave */
.wave img{
    display: block;
}
.rotate img{
    transform: rotate(180deg);
    margin-top: -4px;
}